{
    "presets": [
      "es2015",
      "react"
    ],
    "plugins": [
      [
        "import",
        {
          "libraryName": "antd",
          "libraryDirectotry": "es",
          "style": true
        }
      ]
    ],
    "sourceMaps": true
  }